@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
@font-face {
  font-family: vazir;
  src: url(fonts/Vazir.ttf);
  font-family: shabnam;
  src: url(fonts/Shabnam.ttf);
  font-family: irsans;
  src: url(fonts/irsans.ttf);
}

/* awesome = icon font */
/* shabnam = main font */
/* vazir =  */
/* irsans =  */

:root {
  --lighter-Color: #82ccdd;
  --light-color: #60a3bc;
  --medium-color: #3c6382;
  --dark-color: #0a3d62;
  --fontLight-color: #f3f3f3;
  --fontDark-color: #03111b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  direction: rtl;
  font-family: shabnam, sans-serif;
  font-size: 1.5rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

body li {
  list-style: none;
}

/*********** Navigation ************/
header .navigation {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--dark-color);
  color: var(--fontLight-color);
  height: 50px;
  z-index: 100;
  /* width: 100%; */
  /* position: fixed; */
}

.navigation .navIcons {
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.navigation .menu h5 {
  min-width: 170px;
  margin-left: 5%;
}

.navigation .navIcons i {
  padding: 15px;
}

.navigation .navIcons i:hover {
  transform: scale(98%);
  color: var(--light-color);
  cursor: pointer;
}

.navigation .navIcons .notification {
  position: absolute;
  top: 5;
  background-color: red;
  font-size: 0.6rem;
  text-align: center;
  border-radius: 50%;
  padding: 0.22rem 0.2rem;
  color: var(--fontLight-color);
}

.navigation .navIcons input {
  font-size: 1rem;
  padding: 5px;
  width: 50%;
  min-width: 200px;
  max-width: 400px;
  border-radius: 5px;
  background-color: var(--fontLight-color);
  border: none;
}

.navigation .navIcons input:focus {
  font-size: 1rem;
  outline-color: var(--light-color);
  color: var(--fontDark-color);
}

/******** Main *********/
body .main {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
}

/******** Aside *********/
body .main .aside {
  background-color: var(--medium-color);
  min-width: 250px;
  font-size: 0.8rem;
  color: var(--fontLight-color);
}

.main .aside .userName {
  font-size: 1rem;
  text-shadow: 1px 1px 1px #151414;
}

.main .aside .userAccount {
  display: flex;
  align-items: center;
  padding: 20px;
}
.aside .userAccount .profileImage img {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0.2px 0.2px 5px #000;
}

.aside .userAccount .adminName {
  padding: 20px;
}

/******** Tablets and under *********/
@media (max-width: 768px) {
  body .navigation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
  }
  .navIcons {
    justify-content: left;
  }
  .navigation .navIcons h5 {
    display: none;
  }
  .navIcons:first-child {
    justify-content: right;
  }
  .navigation .navIcons input {
    min-width: 200px;
  }
}

@media (max-width: 500px) {
}
